.im-cart {
  background: rgba($purple-light, 0.9);
  border-radius: 2px;
  color: #fff;
  float: right;
  font-family: $font-family-roboto;
  padding: 20px;
  width: 180px;

  &.is-fixed {
    box-shadow: 0 0 2px 1px rgba(black, 0.2);
    left: 50%;
    margin-left: 260px;
    top: 60px;
    z-index: 1;
  }

  .selection {
    @include improve-text-rendering;
    background: darken($purple-light, 8);
    border-radius: 2px;
    border: 1px solid #342C77;
    display: block;
    font-weight: 600;
    line-height: 27px;
    min-height: 29px;
    padding: 0 10px;
  }
}