@function cart-image-url($path) {
  @return url("../components/iman-styles-cart/assets/#{$path}");
}

.im-cart {
  background: rgba($purple-light, 0.9);
  border-radius: 2px;
  color: #fff;
  float: right;
  font-family: $font-family-roboto;
  padding: 20px;
  width: 180px;
}

.im-cart.is-fixed {
  box-shadow: 0 0 2px 1px rgba(black, 0.2);
  left: 50%;
  margin-left: 260px;
  top: 60px;
  z-index: 1;
}

.im-cart__title {
  background: darken($purple-light, 8);
  font-weight: bold;
  margin: -20px -20px 20px -20px;
  padding: 10px 20px;
  position: relative;
  text-transform: uppercase;
}

.im-cart__title:after {
  content: "";
  position: absolute;
  @include triangle('bottom', 16px, 8px, darken($purple-light, 8));
  bottom: -8px;
  left: 40px;
}

// price and frequency
.im-cart__price {
  border-bottom: 2px solid darken($purple-light, 8);
  min-height: 34px;
}

.is-loading.im-cart__price {
  background: cart-image-url('loader.GIF') top left no-repeat;

  .im-cart__price-value,
  .im-cart__frequency {
    display: none;
  }
}

.im-cart__frequency {
  display: inline-block;
}


// List of people covered
.im-cart__list {
  overflow: hidden;
}

.im-cart__item {
  background: darken($purple-light, 8);
  line-height: 21px !important;
  margin-top: 3px;
  padding: 7px 5px 7px 40px; // 5px + 21px icon + 5px = 31px
  position: relative;
}

.im-cart__item:first-child {
  margin-top: 0;
}

.im-cart__item i {
  position: absolute;
  top: 7px;
  left: 10px;
}

.im-cart__item__label {
  display: inline-block;
}

// animation classes
@include keyframes('slide-in-right') {
  to {
    @include transform(translateX(0%));
  }
}

@for $i from 2 through 12 {
  $delay: 0.1s;
  .im-cart__item--animate-#{$i} {
    @include animation(slide-in-right ease 1s ($delay * $i) forwards);
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}